<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD1LOgHfit2slpyIHpkmcvXLuXazyhIuM0</string>
	<key>GCM_SENDER_ID</key>
	<string>982615576459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.project.tigerapp</string>
	<key>PROJECT_ID</key>
	<string>tigers-of-india</string>
	<key>STORAGE_BUCKET</key>
	<string>tigers-of-india.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:982615576459:ios:528c92e4b608be3d31e98e</string>
</dict>
</plist>